/*Sections*/
.section {
    margin-right: 0;
    width: 100%;
}
.section_hello {
    height: 100vh;
    background: no-repeat center center url(https://wallpaperaccess.com/full/357909.jpg), rgba(255, 255, 255, 0.9);
    background-size: cover;
    background-blend-mode: overlay;
}
.section_author {
    background: #FFF;
    min-height: 100px;
}
.section_name {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;

}

/*Profile*/
.author {
    display:  flex;
    justify-content:  center;
    padding: 50px;
    margin: 0 auto;
}
.prof_pic {
    height: 150px;
    width: 150px;
    background: #fff;
    margin-left: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .4);
}
.prof_pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.prof_desc {
    margin-left: 50px;
}
.prof_role {
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
}
.prof_role:before {
    content:  "";
    position: absolute;
    left: -70px;
    top: 18px;
    width: 55px;
    height: 4px;
    background: #444;
}

/*Header*/
.header_block {
     z-index: 10; 
    position: fixed;
    margin: 0 auto;
    width: 100%;
    padding-top: 8px;
    transition: padding-top .4s linear;
}
.header {
    margin: 0 auto;
    width: 80%;
    min-height: 35px;
    background: rgba(255, 255, 255, 1);
    backdrop-filter:  blur(10px);
    box-shadow: 0 0 5px #666;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    transition:  all .4s cubic-bezier(0.25, 0.52, 0.40, 1.00);
}
.header_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
}
.header_button {
    padding: 10px;
    color: #000;
    text-decoration: none;
    transition:  background .2s linear,padding .4s ease-in-out;
}
.header_button:hover {
    background: #000;
    color: #fff;
}
.header_block.sticky {
    padding-top: 0;
}
.header_block.sticky .header {
    background: rgba(255, 255, 255, .7);
    max-width: none;
    width: 100%;
    border-radius: 0;
}
.header_block.sticky .header .header_button {
    padding: 5px 10px;
}

/*First screen text*/
.start_splash {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.site_name {
    line-height: 1;
    margin: 0 auto;
    font-size: 10em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
}
.site_name_desc {
    line-height: 1;
    margin: 0 auto;
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
}
.order_site {
    padding: 5px;
    margin-top: 35px;
    width: 140px;
    height: 35px;
    background: rgba(255, 255, 255, .0);
    border: 1px solid #000;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    transition: background .15s linear;
}
.order_site:hover {
    background: #000;
    color: #fff;
}

.section_about {
    background: #000;
    color: #fff;
    font-family: 'Dancing Script', sans-serif;
}
.section_content {
    display: flex;
    justify-content: center;
}
.block {
    width: 25%;
    padding: 4px;
}
.block_content {
    background: #000;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    position: relative;
    cursor: pointer;
}
.block_content:hover .block_img {
    opacity: 0.4;
}
.block_content:hover .block_overlay {
    opacity: 1;
}
.block_text {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
}
.block_overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity .15s ease-in-out;
}
.block_img {
    display: block;
    width: 100%;
    transition: opacity .15s ease-in-out;
}
.block_name {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 5px;
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
}

.section_faq {
    border-bottom: 1px solid #000;
    display: flex;
}
.section_faq div {
    display: flex;
}
.faq_block {
    padding: 40px;
}
.faq_img {
    margin-left: 3%;
    max-width: 40%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.faq_img img {
    width: 100%;
    padding: 0;
}
.questions {
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.question {
    margin: 0 auto;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    height: 100%;
    width: 100%;
    position: relative;
}
.question:last-child {
    border-bottom: 1px solid #000;
}
.question:hover {
    border-right: 1px solid rgba(255, 255, 255, .0);
}
.answer {
    position: absolute;
    left: 100%;
    height: 415%;
    width: 100%;
}
.answer_content {
    top: -1px;
    position: relative;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.section_oursites {
    min-height: 100px;
    background: #fff;
}
.block_card {
    width: 100%;
    background: #fff;
    min-height: 400px;
    box-shadow: 0 0 6px #0009;
    display: block;
}
.card_img {
    width: 100%;
    height: 50%;
}
.subscribe_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}
.subscribe_card {
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px #0009;
    transition: transform .3s ease-out;
}
.subscribe_card:hover {
    transform: scale(1.02,1.02);

}
@keyframes popup {
    0% {
        transform:  rotate3d(1, -1, 0, 0deg) scale(1,1);
        box-shadow: 0 0 10px #0009;
    }
    33% {
        transform:  rotate3d(1, -1, 0, 12deg) scale(1.015,1.015);
    }
    66% {
        transform:  rotate3d(1, -1, 0, 6deg) scale(1.02,1.02);
        box-shadow: 0 0 20px #0009;
    }
    100% {
        transform:  rotate3d(1, -1, 0, 0deg) scale(1.015,1.015);
        box-shadow: 0 0 15px #0009;
    }
}
@keyframes popout {
    from {
        box-shadow: 0 0 15px #0009;
        transform:  scale(1.02, 1.02);
    }
    to {
        box-shadow: 0 0 10px #0009;
        transform:  scale(1, 1);
    }
}

.subscribe_card form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subscribe_card form input {
    margin: 2px auto;
    border: 1px solid #000;
    height: 50px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}
.subscribe_name, .subscribe_email {
    background: #fff;
    width: 300px;
}
.subscribe_submit {
    width: 306px;
    color: #fff;
    background: #000;
    cursor: pointer;
}

.footer {
    min-height: 50px;
    text-align: center;
    vertical-align: middle;
    display:  flex;
    flex-direction:  column;
    justify-content: center;
    border-top: 1px solid #000;
}
.copyright {
    margin: 0 auto;
}
.copyright span {
    color: #999;
}
body {
    margin: 0 auto;
    background-color: #fff;
}
